/*
Copyright luojia@luojia.me
LGPL license
*/

.NyaP_fullfill{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
@mixin NyaP_fullfill{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

.NyaP{
	@extend .NyaP_fullfill;

	a{text-decoration: none;}
	.active_icon path{fill-opacity:1 !important;}

	svg[id^='NyaP_icon']>*{
		stroke: #5f3c2c;
		fill:#5f3c2c;
		fill-opacity:0;
		transition:fill-opacity 0.2s;
	}
	span[id^="NyaP_icon_span_"]{
		background-color: #edeeef;
		&:hover{
			background-color: #dfdfdf;
			cursor: pointer;
			svg>*{
				stroke: #24b182;
				fill:#24b182;
			}
		}
	}


	&>div#video_frame{
		@extend .NyaP_fullfill;

		&>video#main_video{
			@extend .NyaP_fullfill;
			background-color: #000;
		}
		&>div#danmaku_container{
			@extend .NyaP_fullfill;
		}
	}
	&>div#control{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #edeeef;
	    user-select: none;
		display: flex;
		flex-wrap: nowrap;
		align-items:stretch;

		span[id^="control_"]{
			display: flex;
			flex-wrap: nowrap;
			//height: 100%;
			&>span{cursor: pointer;position: relative;}
		}
		&>span>span{display: flex;}
		#control_left{
			*:last-child{margin-right:2px;};
		}

		#control_right{
			padding: 0 2px;
			// *:first-child{margin:0 1px;};
		}

		#control_center{
			flex-grow: 1;
			position: relative;
			canvas#progress{
				@include NyaP_fullfill;
				cursor: pointer;
				background-color: #6cf;
			}
		}
		#danmaku_input_frame{
			@include NyaP_fullfill;
			background-color: #fff;
			display:none;
		    font-size: 13px;
			input#danmaku_input{
			    flex-grow: 1;
			    border: 0;
			    padding: 0 7px;
			    user-select: initial;
			}
		}
		#danmaku_style_pannel{
			position: absolute;
			bottom: 100%;
			background-color: #444;
			width: 60px;
			height: 60px;
			left: 0;
		}
		#danmaku_submit{
			background-color: #578;
		    text-align: center;
		    cursor: pointer;
		    color: #fff;
		    padding: 0 14px;
	        display: flex;//set layout of text to center
		    align-items: center;
		}
		#NyaP_icon_span_fullScreen{
			position: absolute;
			left: 0;
		    bottom: 100%;
			display: none;
		    border: 1px solid #ccc;
		    border-radius: 8px 0 0;
		    border-bottom: 0;
		}
		#player_mode{
		    font-size: 0;
			&:hover>#NyaP_icon_span_fullScreen{
				display: block;
			}
		}
	}
}

.NyaP_Mini{
	@extend .NyaP_fullfill;

	a{text-decoration: none;}
}