/*
Copyright luojia@luojia.me
LGPL license
*/

.NyaP_fullfill{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	position: absolute;
}
@mixin NyaP_fullfill{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	position: absolute;
}

.NyaP{
	@extend .NyaP_fullfill;

	$control_bar_height:30px;

	a{text-decoration: none;}
	.active_icon path{fill-opacity:1!important;}

	svg[id^='icon']>*{
		fill:#5f3c2c;
		fill-opacity:0;
		stroke: #5f3c2c;
		transition:fill-opacity .2s;
	}
	span[id^="icon_span_"]{
		background-color: inherit;
		cursor: pointer;
		&:hover{
			background-color:#ececec!important;
			svg>*{
				fill:#24b182;
				stroke: #24b182;
			}
		}
	}


	&>#video_frame{
		@extend .NyaP_fullfill;
		height: auto;
		bottom: $control_bar_height;

		&>video#main_video{
			@extend .NyaP_fullfill;
			background-color: #000;
		}
		&>div#danmaku_container{
			@extend .NyaP_fullfill;
			cursor: pointer;
		}
	}
	&>#control{
		left: 0;
		bottom: 0;
		width: 100%;
		height: $control_bar_height;
		opacity: 1;
		display: flex;
		flex-wrap: nowrap;
	    user-select: none;
		position: absolute;
		align-items:stretch;
		transition: opacity .2s;
		background-color: #f7f8f9;
	    border-top: 0.5px solid #a7a7a7;

		&:hover{opacity:1;}

		span[id^="control_"]{
			display: flex;
			flex-wrap: nowrap;
			background-color: inherit;
			//height: 100%;
			&>span{cursor: pointer;position: relative;background-color: inherit;}
		}
		&>span>span{display: flex;}
	}
	#control_left{
		*:last-child{margin-right:2px;};
	}

	#control_right{
		padding: 0 2px;
	}

	#control_center{
		flex-grow: 1;
		position: relative;
		
	}
	canvas#progress{
		@extend .NyaP_fullfill;
		cursor: pointer;
	}
	#progress_info{
		@extend .NyaP_fullfill;
		display: flex;
		align-items:stretch;

		&>*:first-child{
			flex-grow: 1;
		    position: relative;
		}
	}
	#danmaku_input_frame{
		@extend .NyaP_fullfill;
		display:none;
	    font-size: 13px;
		background-color:inherit;
		input#danmaku_input{
		    border: 0;
	        outline: 0;
		    flex-grow: 1;
		    padding: 0 7px;
		    user-select: initial;
	        background-color: inherit;
		}
	}
	#danmaku_style{
		display: flex;
		background-color: inherit;
		&:hover{
			#danmaku_style_pannel{
				display: block;
			}
		}
	}
	#danmaku_style_pannel{
		left: 0;
		width: 130px;
		height: 80px;
		bottom: 100%;
		display: none;
		position: absolute;
		background-color: #444;
	}
	input#danmaku_color{
		border: 1px solid #ccc;
	}
	#danmaku_submit{
	    color: #fff;
        display: flex;					//set layout of text to center
	    cursor: pointer;
	    padding: 0 14px;
	    text-align: center;
	    align-items: center;
		background-color: #707679;
	}
	#time{
	    display: flex;
	    padding: 0 5px;
		font-size: 14px;
	    text-align: center;
	    align-items: center;
	    font-family: monospace;
	    
	    &>span{flex-grow: 1;}
	}
	#icon_span_fullScreen{
		left: 0;
	    bottom: 100%;
		display: none;
	    border-bottom: 0;
		position: absolute;
	    border: 1px solid #ccc;
	    border-radius: 8px 0 0;
	}
	#player_mode{
	    font-size: 0;

		&:hover>#icon_span_fullScreen{
			display: block;
		}
	}
}

