/*
Copyright luojia@luojia.me
LGPL license
*/
@import 'NyaPCommon.scss';

.NyaPTouch{
	@extend .NyaP_fullfill;
	@include NyaPCommonStyles;

	overflow: hidden;

	svg[id^='icon']>*{
		fill:#5f3c2c;
		fill-opacity:1;
		stroke: #5f3c2c;
		transition:fill-opacity .2s;
	}
	span[id^="icon_span_"]{
		display: inline-block;
		flex-shrink: 0;
		box-sizing: border-box;
		background-color: inherit;
		svg{
			pointer-events: none;
			display: block;
		}
	}

	#controls{
		will-change:display;
	}

	&[playerMode="fullScreen"]{
		#control_bottom{
			position: fixed;
		}
	}
	&[playerMode="fullPage"]{
		position: fixed;
	}

	#control_bottom{
		bottom: 0;
		width: 100%;
		font-size: 0;
		opacity: 0.95;
		position: absolute;
		will-change:transform;
		transition: transform .05s linear;

		div[id^='control_bottom_']{
			width: 100%;
			display: flex;
			position: relative;
			justify-content: center;
			background-color: #fff;
			&>div{
				display: inline-block;
			}
		}
		&>div[id^='progress_']{
			position: relative;
		}
		#control_bottom_first{
			flex-direction: column;
			#button_area{
				display: flex;
				justify-content: center;
			}
		}
		#control_bottom_second{
			position: absolute;
			left: 0;
			top:100%;
			width:100%;
		}
		#danmakuStyleEditor{
			position: relative;
			outline: 0;
			flex-shrink: 0;

			#danmaku_mode_box,#danmaku_size_box,#danmaku_color_box{
				font-size: 0;
				position: absolute;
				background-color: #eaeaea;
				display: flex;

				span.active{
					opacity: 1!important;
				}
				span{
					opacity: .4;
				}
			}
			#danmaku_size_box{
				left: 0;
				bottom: 300%;
				height: 100%;
				width: 400%;
				span{
				    width: 100%;
				    height: 50px;
				    line-height: 50px;
				    text-align: center;
				    display: inline-block;
				    font-family: monospace;
				    vertical-align: middle;
				    background-color: inherit;
				}
			}
			#danmaku_mode_box{
				bottom: 200%;
				left: 0;
				height: 100%;
			}
			#danmaku_color_box{
				height: 100%;
				left: 0;
				bottom: 100%;
				align-items:center;
			    padding-right: 6px;
				&>span{
					width: 40px;
					height: 40px;
					margin-left: 6px;
					border-radius: 15px;
					display: inline-block;
					border: 1px solid #5f5e5e;
				}
			}
		}
		#danmaku_input{
		    outline: 0;
		    flex-grow: 1;
			padding: 9px 4px;
			width: 100%;
		    border: 1px solid #ccc;
		    box-sizing: border-box;
		    user-select: initial;
		    font-size: 15px;
		    background-color: inherit;
		}
		#progress_info{
			flex-grow: 1;
			align-items:stretch;
			width: 100%;
			display: inline-flex;

			&>*:first-child{
				flex-grow: 1;
				position: relative;
			}
			#progress_wrap{
			    top: 50%;
				overflow: hidden;
				position: absolute;
				pointer-events: none;
			    box-sizing: border-box;
				border: 1px solid #ccc;

				div{
					@extend .NyaP_fullfill;
					width: 0;
					height: 100%;
					will-change:width;
					transition:width .2s linear;
				}
				#buffed_bar{background-color: #ccc;}
				#progress_bar{background-color: #6cf;}
				#seekTo_bar{background-color: #85acbf;transition:none;}
			}
			#time{
				padding: 0 5px;
				font-size: 16px;
				text-align: center;
				align-items: center;
				display: inline-flex;
				font-family: monospace;
				
				&>*{flex-shrink:1;flex-grow: 1;}
			}
		}
		
	}

	#msg_box{
		right: 0;
		bottom: 70px;
		display: flex;
		flex-flow: column;
		position: absolute;
		pointer-events: none;
		align-items: flex-end;
		font-family: monospace;

		[class^='msg_type_']{
		    margin: 4px;
		    max-width: 15em;
		    font-size: 1.1em;
		    padding: 6px 10px;
		    border-radius: 13px;
		    will-change: opacity;
		    pointer-events: auto;
		    word-wrap: break-word;
		    transition: opacity .6s;
		    border: 1px solid #fbfbfb;
		}



		.msg_type_tip{
			color: #adadad;
			background-color: rgba(179, 179, 179, 0.62);
		}
		.msg_type_info{
			color: #d8e8e3;
			background-color: rgba(19, 16, 12, 0.38);	
		}
		.msg_type_error{
			color: #eaddd8;
			background-color: rgba(214, 123, 123, 0.67);
		}
	}
}